/* pre overrides */
.Logo {
  background-image: url(../assets/img-logo.svg);
}

.slider {
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  max-width: 868px;
}

.Item-image {
  /* temporary placeholder */
  background-image: url(../assets/img-apartment.jpg);
}

/* vendor overrides */
.slick-prev:before,.slick-next:before {
  font-family: 'FontAwesome';
  color: #282828;
}

.slick-prev:before {
  content: "\f053";
}

[dir='rtl'] .slick-prev:before {
  content: "\f054";
}

.slick-next:before {
  content: "\f054";
}

[dir='rtl'] .slick-next:before {
  content: "\f053";
}

.slick-dots li button:before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\f111";
}
